*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-first: 'Titillium Web', sans-serif;
  --font-family-second: 'Montserrat', sans-serif;
  --font-family-third: 'Teko', sans-serif;

  --frosted-background-color: rgba(182, 182, 182, 0.5);
  --frosted-filter-blur: blur(4px);
  --frosted-box-shadow: 
        -4px 8px 15px -5px rgba(78, 78, 78, 0.6),
        -9px 13px 20px -5px rgba(109, 103, 77, 0.6);
  --frosted-border: .5px solid rgba(126, 126, 126, 0.7);
}

body {
  background-image: url(/Images/night-sky-cloudy-moon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  backdrop-filter: blur(2px);
  min-width: 740px;
  /* width: 100vw; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Teko', sans-serif; */
  font-family: var(--font-family-first);
  height: 75%;
}
header,
footer {
  /* position: fixed; */
  /* top: 0; */
  background-color: var(--frosted-background-color);
  backdrop-filter: var(--frosted-filter-blur);
  border: var(--frosted-border);
  box-shadow: var(--frosted-box-shadow);
  min-width: 100%;
  height: 8vh;

}

header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  
}

header > label {
  font-family: var(--font-family-third);
  font-weight: 400;
  font-size: calc(.8rem + .5%);
  letter-spacing: clamp(.06rem, 1vw, .1rem);
  grid-column: 2 / 4;
  padding-top: .15em;
  white-space: nowrap;
}

header > input {
  min-height: 100%;
  width: max(320px, 100%);
  grid-column: 5 / 10;
  align-self: stretch;
}

header > input::placeholder {
  font-family: var(--font-family-first);
  padding: 1em .5em
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.search-bar-container {

}

.weather-cards {
  padding: .8rem;
  color: rgb(235, 235, 235);
  display: grid;
  /* height: 100%; */
  width: min(100%, 1040px);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 5% 2.5%;
}

.weather-cards > * {
  text-align: center;
  background-color: var(--frosted-background-color);
  backdrop-filter: var(--frosted-filter-blur);
  border: var(--frosted-border);
  border-radius: 5px;
  grid-column-end: span 4;
  box-shadow: var(--frosted-box-shadow);
}

.card-overview {
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
}

.image-temp-row {
  margin: 0 auto;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-temp-row > * {
  max-width: 100%;
}


.image-temp-row img {
}

.image-temp-row > span {
  font-size: clamp(2rem, 4vw, 2.5rem) ;
  line-height: 2.5rem;
}

.degree-units-system {
  font-size: .7em;
}




/* .image-temp-row *, */
/* .image-temp-row * * { */
/* position: relative; */
  /* left: 0; */
/* } */

/* .image-temp-row img { */
  /* position: relative; */
  /* bottom: 40px; */
  /* width: 100%; */
  /* background-color: rgba(182, 182, 182, 0.5); */
/* } */

/* .main-temp-and-weather { */
  /* padding-top: 20%; */
  /* right: 40px; */
  /* line-height: 3rem; */
  /* font-size: 3rem; */
  /* font-weight: default; */
/* } */

/* .degree-units-system { */
  /* font-size: 1.5rem; */
/* }  */